<%= render partial: 'layouts/admin_header' %>

<div class="center-block text-center" style="height: auto; width: 90vw; ">
  <%= form_for @daily_post, url: daily_post_update_path, method: :put do |form| %>
    <p class="mt_3">タイトル</p>
    <%= form.text_field :title, class: "mt_3", value: @daily_post.title, required: true %><br>
    <p class="mt_3">内容</p>
    <%= form.text_area :content, class: "vw_50 vh_35 mt_3", value: @daily_post.content, required: true %><br>
    <p class="mt_3">メイン画像（１枚のみ）</p>
    <%= image_tag @daily_post.img_main, class: "vw_50 vh_35 mt_3", required: true %>
    <div class="inline_block"><%= form.file_field :img_main, value: @daily_post.img_main.signed_id %></div><br>
    <p class="mt_3">サブ画像（複数可能）* 1~3枚推奨<br class="sp">（正方形で表示。２列に並びます。）</p>

    <% @daily_post.images_sub.each do |image| %>
      <%= form.hidden_field :images_sub, multiple: true, value: image.signed_id %>
      <%= image_tag image, size:"100x100" %> <br>
    <% end %>

    <%= form.file_field :images_sub, multiple: true, accept: "image/*" %>
    <%= submit_tag("保存", class: "mt_3 mb_5") %>
  <% end %>
</div>

