<%= render partial: 'layouts/admin_header' %>
<div class="center-block text-center height_auto" style="height: auto; width: 90vw;">
  <% if !@daily_post.nil? %>
    <h1><%= @daily_post.title %></h1>
    <%# メイン画像 %>
    <div class="align-middle inline_block mt_3 img_center" style= "width: 100%; height:40vw;">
      <% if @daily_post.img_main.attached? %>
        <div><%= image_tag @daily_post.img_main , style: "width: 50vw; height: 40vw;" %></div>
      <% else %>
        <div style ="width:90%; height:90%;"><%= ix_image_tag('no-image.png') %></div>
      <% end %>
    </div>
    <%# 内容テキスト %>
    <div class ="mt_3 line_height_md" style= "width: 60vw; margin: auto;">
      <%= simple_format(@daily_post.content) %>
    </div>
    <%# サブ画像 ３枚まで%>
    <div class="mt_3 mb_5 flex flex_center" style= "height: 50vh;">
      <% if @daily_post.images_sub.attached? %>
        <% @daily_post.images_sub.each do |image_sub| %>
          <div class= "ml_2", style= "width: 30%; height: 100%;"><%= image_tag image_sub, style: "width: 100%; height: 100%;" %></div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2>レコードが見つかりません</h2>
  <% end %>
</div>