<div class="text-center height_auto mg_10px">
    <div class="mb_5 mt_20vh_sp">
        <h1 class="mb_3">【茶道体験ご予約】</h1>
        <p class="line_height_sm bgc_gray pd_1">
            体験をご希望の方は<br>
            下記フォームをご利用ください<br>
            お電話やメールでも受け付けております<br>
            （体験で予約したい旨をお伝えください）
        </p>
    </div>
    <%= form_with(model: @reserve, url: confirm_reserves_path) do |f| %>
        <div class="mb_5">
            <%= f.label :name, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.text_field :name, class:"vw_30 vw_70_sp" %>
            <% @reserve.errors.full_messages_for(:name).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :email, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.text_field :email, class:"vw_30 vw_70_sp" %>
            <% @reserve.errors.full_messages_for(:email).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :telephone, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.text_field :telephone, class:"vw_30 vw_70_sp" %>
            <% @reserve.errors.full_messages_for(:telephone).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :reserve_date1, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.datetime_field :reserve_date1, class:"vw_30 vw_70_sp" %>
            <% @reserve.errors.full_messages_for(:reserve_date1).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :reserve_date2, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.datetime_field :reserve_date2, value: nil ,class:"vw_30 vw_70_sp" %>
        </div>
        <div class="mb_5">
            <%= f.label :reserve_date3, class:"vw_30 text_left ml_2 vw_70_sp" %><br>
            <%= f.datetime_field :reserve_date3, value: nil ,class:"vw_30 vw_70_sp" %>
        </div>
        <div class="mb_5 ">
            <%= f.label :content_inquiry, class:"vw_50 text_left ml_2 vw_70_sp" %><br>
            <p class="vw_50 text_left ml_2 w_100sp inline_block">【個人稽古の希望・ご年齢をご入力下さい。】</p>
            <%= f.text_area :content_inquiry, class:"vh_15 vw_50 vw_70_sp" %>
            <% @reserve.errors.full_messages_for(:content_inquiry).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <%= f.button "確認画面へ", class:"confrim_btn mb_5 pd_btn" %>
    <% end %>
</div>

<script>
    $(function() {
        $('header').show();
    });
</script>
