<div class="vh_100">
    <%= ix_image_tag("main_img.jpg", tag_options: { class: "main_img relative cover" })%>
    <div id="mainText"><%= ix_image_tag("main_text.png", tag_options: { class: "main_img_text absolute" })%></div>
    <%# main画面専用ヘッダー %>
    <div class="relative vh_25">
      <p class="absolute absolute_top_2 absolute_left_8 font_md letter_spacing_sm line_height_sm">茶道教室<br>SAKURA　CLUB</p>
      <table class="absolute absolute_top_2 absolute_right_8">
        <tr>
          <td><a class="rl link line_height_lg letter_spacing_sm" href="#">カウンセリング</a></td>
          <td><a class="rl link line_height_lg letter_spacing_sm" href="#">クラス・お月謝</a></td>
          <td><a class="rl link line_height_lg letter_spacing_sm" href="#">体験教室</a></td>
          <td><a class="rl link line_height_lg letter_spacing_sm" href="#">アクセス</a></td>
          <td><a class="rl link line_height_lg letter_spacing_sm" href="#">お問い合わせ</a></td>
        </tr>
      </table>
    </div>
</div>
<main>
  <%# 教室のコンセプト %>
  <div class="concept vh_100 relative">
    <%= ix_image_tag("S_okashi.jpg", tag_options: { class: "absolute cover my_1 vh_35 top_2 left_0 fadeIn_left" })%>
    <%= ix_image_tag("slideshow8.jpg", tag_options: { class: "absolute cover my_1 vh_35 bottom_0 left_0 fadeIn_left" })%>
    <div class="z_0 absolute concept_center letter_spacing_sm line_height_sm">
      <p class="font_lg mb_5">教室のコンセプト</p>
      <p class="font_sm">
        当教室は、小学生からご高齢の方まで<br>
        いろんな方がお稽古にいらしています。<br>
        堅苦しくなく、<br>
        和やかにお稽古をしています。<br>
        どうぞ四畳半の異空間で特別な時間を<br>
        体験してみてください。</p>
      </div>
    <%= ix_image_tag("S_sakura.jpg", tag_options: { class: "absolute cover my_2 vh_55 bottom_0 right_0 fadeIn_right" })%>
  </div>
  <div class="concept_end"></div>
  <%# お稽古日記 %>
  <div class="vh_100 relative my_10">
    <%= ix_image_tag("S_personal.jpg", tag_options: { class: "absolute top_0 left_0 article_bg" })%>
    <div class="pd_1 transform_1">
      <p class="font_lg my_10 letter_spacing_sm text_center">お稽古日記</p>
      <div class="flex around mx_10">
        <% @daily_posts_home.each do |daily_post_home| %>
          <a href="ocha_dailypost_show/<%= daily_post_home.id %> " >
            <% if daily_post_home.img_main.attached? %>
              <%= image_tag daily_post_home.img_main, class: "cover article_img mb_3" %>
            <% else %>
              <%= ix_image_tag('no-image.png', tag_options: { class: "cover article_img" }) %>
            <% end %>
            <p class="color_black"><%= daily_post_home.title.truncate(15, omission: '~~') %></p>
            <p class="color_black">投稿日時：<%= daily_post_home.updated_at.strftime("%Y年%m月%d日") %></p>
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <%# お稽古紹介 %>
  <div class="experience"><%# 体験教室jqueryイベント開始 %>
    <%# クラス紹介 %>
    <div class="relative vh_100">
      <p class="font_lg mt_20 letter_spacing_sm text_center">クラス紹介</p>
      <div class="flex flex_center mt_20 absolute top_0 left_0">
        <%= ix_image_tag("slideshow5.jpg", tag_options: { class: "flex_grow class_img" })%>
        <%= ix_image_tag("adult.jpg", tag_options: { class: "flex_grow class_img" })%>
        <%= ix_image_tag("S_co.jpg", tag_options: { class: "flex_grow class_img" })%>
      </div>
      <div class="vw_100 mt_15 flex around absolute top_0 left_0">
        <div><a action="#" class="rl link around class_box relative"><p class="absolute">子どもクラス</p></a></div>
        <div><a action="#" class="rl link around class_box relative"><p class="absolute">大人クラス</p></a></div>
        <div><a action="#" class="rl link around class_box relative"><p class="absolute">個別教室</p></a></div>
      </div>
      <%# 体験教室紹介 %>
      <div class="experience_btn absolute bottom_10 right_10 flex flex_center">
        <a action="#">体験教室のご案内 >></a>
      </div>
    </div>
  </div>
  <div class="experience_end"><%# 体験教室jqueryイベント終了 %></div>
</main>

<%# js %>
<script>
// headerスクロール時の表示指定
  $(window).scroll(function () {
    var pos = $('main').offset();
    if ($(this).scrollTop() > pos.top) {
      $('header').fadeIn();
    } else {
      $('header').fadeOut();
    }
  });
</script>

<script>
// mainTextのフェードイン
  $(window).on('load', function () {
    setTimeout(function () {
      $('#mainText').fadeIn(2000);
    },);
  });
// スクロール時のコンセプト画像フェードイン
  var hasFadedIn = false;
  $(window).scroll(function () {
    if (hasFadedIn) {
        return;
    }
    var pos = $('.concept').offset();
    var posEnd = $('.concept_end').offset();
    if ($(this).scrollTop() > pos.top && $(this).scrollTop() < posEnd.top) {
      $.when(
        $('.fadeIn_right').addClass("is_show"),
        $('.fadeIn_right').animate({ right: '5vw' }, 2),
        $('.fadeIn_left').addClass("is_show"),
        $('.fadeIn_left').animate({ left: '5vw' }, 2)
      ).then(function () {
        hasFadedIn = true;
      });
    }
  });

// 体験教室のスクロール時のイベント
  $(window).scroll(function () {
    var pos = $('.experience').offset();
    var posEnd = $('.experience_end').offset();
    if ($(this).scrollTop() > pos.top && $(this).scrollTop() < posEnd.top) {
      $('.experience_btn').addClass("is_show");
    }else {
      $('.experience_btn').removeClass("is_show");
    }
  });


</script>