<div class="top-warpper">
    <div class="container">
        <div class="media-top">
            <div class="text">
                <h1>茶道教室<br>
                    <br>
                    SAKURA <br class="sp">CLUB</h1>
            </div>
            <%= ix_image_tag("S_co.jpg", tag_options: { class: "S_co" })%>
            <div class="grade-top"> </div>
        </div>
    </div>
</div>

<div class="messege">
    <h1>たまにはゆっくりお話しましょ</h1>
    <p>
    当教室は、小学生からご高齢の方まで<br>いろんな方がお稽古にいらしています。<br>
    堅苦しくなく、<br>和やかにお稽古をしています。<br>
    どうぞ四畳半の異空間で特別な時間を<br>体験してみてください。
    </p>
    <div class="good-point">
        <div class="okashi">
            <div class="text-okashi">
                <p>美味しいお菓子と</p>
            </div>
            <%= ix_image_tag("S_okashi.jpg", tag_options: { class: "S_okashi" })%>
            <div class="grade-okashi"> </div>
        </div>
        <div class="shiki">
            <div class="text-shiki">
                <p>四季を感じて</p>
            </div>
            <%= ix_image_tag("S_momo.jpg", tag_options: { class: "S_momo" })%>
            <div class="grade-shiki"> </div>
        </div>
        <div class="only">
            <div class="text-only">
                <p>自分と向き合える時間</p>
            </div>
            <%= ix_image_tag("S_sakura.jpg", tag_options: { class: "S_sakura" })%>
            <div class="grade-only"> </div>
        </div>
    </div>

     <h1>お稽古の様子</h1>
     <p class="yousu">
     皆さんがお稽古を始めたきっかけは、<br>
     <span>何か新しいことをしてみたい</span><br>
     <span>和に触れてみたい</span><br>
     <span>いつもと違う時間を過ごしてみたい</span><br>
     <span>抹茶が好き</span>と<br>
     皆さん様々ですが、<br class="sp">それでも皆が一つになれるのが茶道です。<br>
     茶道の手前と所作が<br class="sp">そんな人柄をつくってくれます。<br>
    </p>

    <div class="messege-warpper">
        <ul class="slideshow">
            <li class="content"><%= ix_image_tag("slideshow1.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow2.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow8.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow7.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow6.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow9.jpg", tag_options: { class: "slideshow_img" })%></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><%= ix_image_tag("slideshow1.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow2.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow8.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow7.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow6.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow9.jpg", tag_options: { class: "slideshow_img" })%></li>
        </ul>
        <ul class="slideshow">
            <li class="content"><%= ix_image_tag("slideshow1.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow2.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow8.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow7.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow6.jpg", tag_options: { class: "slideshow_img" })%></li>
            <li class="content"><%= ix_image_tag("slideshow9.jpg", tag_options: { class: "slideshow_img" })%></li>
        </ul>
    </div>
   
</div>
<div class="top-information">
    <div class="informations">
        <h1>各種ご案内</h1>
        <div class="menus">
            <div class="menu">
                <a href="/co"><div class="menu-icon">
                    <%= ix_image_tag("S_spring.jpg", tag_options: { class: "content-img" })%>
                    <p>カウンセリング<br>稽古</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/class"><div class="menu-icon">
                    <%= ix_image_tag("S_summer.jpg", tag_options: { class: "content-img" })%>
                    <p>クラス稽古<br>
                    ・<br>
                    個別稽古</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/experience"><div class="menu-icon">
                    <%= ix_image_tag("S_autumn.jpg", tag_options: { class: "content-img" })%>
                    <p>体験教室</p>
                </div></a>
            </div>
            <div class="menu">
                <a href="/acsess"><div class="menu-icon">
                    <%= ix_image_tag("S_winter.jpg", tag_options: { class: "content-img" })%>
                    <p>アクセス</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <h1>お知らせ</h1>
    <div class="box">
        <a>
            <%= ix_image_tag("", tag_options: { class: "content-img" })%>
        </a>
    </div>
</div>
<div class="contacts">
    <h1>
        <%= link_to "お問い合わせはこちらから", new_contact_path %>
    </h1>
</div>