<div class="text-center height_auto mg_10px mb_5">
    <div class="contact mt_20vh_sp">
        <h3>お問い合わせ内容の確認</h3>
    </div>

    <div class="">
        <p class="mb_1_sp">以下の内容でよろしいでしょうか？</p>
        <div class="pd_5 vw_50 mg_0 pc_display">
            <table class="table mg_auto_contact table_color" style="width: 50vw !important;">
                <tr>
                    <th style="border-top: none; border-bottom: none;"></th>
                    <th style="border-top: none; border-bottom: none;"></th>
                </tr>
                <tr>
                    <td style="border-top: none;"><%= t("activerecord.attributes.contact.name")%></td>
                    <td style="border-top: none;"><%= @contact.name %></td>
                </tr>
                <tr>
                    <td><%= t("activerecord.attributes.contact.email")%></td>
                    <td><%= @contact.email %></td>
                </tr>
                <tr>
                    <td><%= t("activerecord.attributes.contact.telephone")%></td>
                    <td><%= @contact.telephone %></td>
                </tr>
                <tr>
                    <td><%= t("activerecord.attributes.contact.content_inquiry")%></td>
                    <td><%= @contact.content_inquiry %></td>
                </tr>
            </table>
        </div>
        <div class="sp_display text_left">
            <p class="pl_10vw_sp mt_5_sp">◎<%= t("activerecord.attributes.contact.name")%></p>
            <p class="pl_10vw_sp"><%= @contact.name %></p>
            <p class="pl_10vw_sp">◎<%= t("activerecord.attributes.contact.email")%></p>
            <p class="pl_10vw_sp"><%= @contact.email %></p>
            <p class="pl_10vw_sp">◎<%= t("activerecord.attributes.contact.telephone")%></p>
            <p class="pl_10vw_sp"><%= @contact.telephone %></p>
            <p class="pl_10vw_sp">◎<%= t("activerecord.attributes.contact.content_inquiry")%></p>
            <p class="pl_10vw_sp mb_4_sp"><%= @contact.content_inquiry %></p>
        </div>
    </div>
    <div class="flex flex_center">
        <br>
        <%= form_for @contact, url: contacts_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :telephone %>
            <%= f.hidden_field :content_inquiry %>
            <%= f.button "OK", class:"complete_btn mg_20px" %>
        <% end %><br>
        <%= form_for @contact, url: contacts_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :telephone %>
            <%= f.hidden_field :content_inquiry %>
            <%= f.button "戻る", value: "back" , class:"complete_btn mg_20px" %>
        <% end %>
    </div>
</div>

<script>
    $(function() {
        $('header').show();
    });
</script>