<div class="text-center height_auto mg_10px">
    <div class="mb_5">
        <h1 class="mb_3">【お問い合わせ】</h1>
        <p class="line_height_sm bgc_gray pd_1">
            お名前、ご連絡先、お問い合わせ内容をご入力ください。<br>
            茶道の経験はないが、何か新しいことを始めたい<br>
            お稽古内容の詳細が知りたい<br>
            子供の習い事で少し気になった 等々<br>
            お気軽にどうぞお問い合わせください♪
        </p>
    </div>
    <%= form_for @contact, url: confirm_contacts_path do |f| %>
        <div class="mb_5">
            <%= f.label :name, class:"vw_30 text_left ml_2" %><br>
            <%= f.text_field :name, class:"vw_30" %>
            <% @contact.errors.full_messages_for(:name).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :email, class:"vw_30 text_left ml_2" %><br>
            <%= f.text_field :email, class:"vw_30" %>
            <% @contact.errors.full_messages_for(:email).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
            c<div class="mb_5">
            <%= f.label :telephone, class:"vw_30 text_left ml_2" %><br>
            <%= f.text_field :telephone, class:"vw_30" %>
            <% @contact.errors.full_messages_for(:telephone).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <div class="mb_5">
            <%= f.label :content_inquiry, class:"vw_50 text_left ml_2" %><br>
            <%= f.text_area :content_inquiry, class:"vh_15 vw_50" %>
            <% @contact.errors.full_messages_for(:content_inquiry).each do |message| %>
                <div class="error">*<%= message %></div>
            <% end %>
        </div>
        <%= f.button "確認画面へ", class:"confrim_btn mb_5 pd_btn" %>
    <% end %>
</div>

<script>
    $(function() {
        $('header').show();
    });
</script>