<%= @contact.name %>様<br>
<br>
 この度はお問い合わせいただき、誠にありがとうございます。<br>
 <br>
 お問い合わせ内容は以下のとおりです。<br>
 <br>
 ------------------------------------<br>
 <br>
 [<%= t("activerecord.attributes.contact.name")%>]<br>
 <%= @contact.name %><br>
 [<%= t("activerecord.attributes.contact.email")%>]<br>
 <%= @contact.email %><br>
 [<%= t("activerecord.attributes.contact.telephone")%>]<br>
 <%= @contact.telephone %><br>
 [<%= t("activerecord.attributes.contact.content_inquiry")%>]<br>
 <%= @contact.content_inquiry %><br>
 <br>
 ------------------------------------<br>
 <br>
 他にもご不明な点がございましたらお気軽にお問い合わせください。<br>
 後ほど折り返しお返事させていただきます。<br>
 いましばらくお待ちください。<br>
<br>
<br>
 _____________________________________<br>
 さくらクラブ<br>
 メール:<a href="mailto:sakura.club.info@gmail.com">sakura.club.info@gmail.com</a><br>
 電話番号: <a href="tel:080-1099-5052">080-1099-5052</a><br>
 七五三掛宗桜<br>
 _____________________________________
