<div class="contact-warpper">
    <div class="contact">
        <h1>お問い合わせ内容の確認</h1>
    </div>

    <div class="confirm-warpper">
        <p>以下の内容でよろしいでしょうか？</p>
        <div>
            <div class="confirm"><%= t("activerecord.attributes.contact.name")%></div>
            <%= @contact.name %><br>
            <br>

            <div class="confirm"><%= t("activerecord.attributes.contact.email")%></div>
            <%= @contact.email %><br>
            <br>

            <div class="confirm"><%= t("activerecord.attributes.contact.telephone")%></div>
            <%= @contact.telephone %><br>
            <br>

            <div class="confirm"><%= t("activerecord.attributes.contact.content_inquiry")%></div>
            <%= @contact.content_inquiry %><br>

        </div>

    </div>
    <div class="button-confirm">
        <br>
        <%= form_for @contact, url: contacts_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :telephone %>
            <%= f.hidden_field :content_inquiry %>
            <%= f.button "OK", class:"complete_btn" %>
        <% end %><br>
        <%= form_for @contact, url: contacts_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :telephone %>
            <%= f.hidden_field :content_inquiry %>
            <%= f.button "戻る", value: "back" , class:"complete_btn" %>
        <% end %>
    </div>
</div>