<!DOCTYPE html>
<html>
  <head>
    <title>OchaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "top", "admin", media: 'all', "data-turbo-track": "reload" %>

  <%# bootstrap jquery %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%# google font %>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
    <%# googleアナリティクス認識用スクリプト %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-78GYS50PFF');
    </script>
  </head>
  <body>
    <header>
      <div class="flex between">
        <a class="link letter_spacing_sm line_height_sm" href="/">茶道教室<br>SAKURA　CLUB</a>
        <table>
          <tr>
            <td><a class="link ml_2 letter_spacing_sm" href="/counseling">カウンセリング</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="/class">クラス・お月謝</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="/trial">体験教室</a></td>
            <td><a class="link ml_2 letter_spacing_sm" href="#">アクセス</a></td>
            <td><%= link_to "お問い合わせ", new_contact_path, class: "link ml_2 letter_spacing_sm" %></td>
          </tr>
        </table>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p class="absolute bottom_0 left_0 letter_spacing_sm line_height_md mg_2">茶道教室<br>SAKURA　CLUB</p>
      <div class="absolute bottom_0 right_0 flex flex_column letter_spacing_sm line_height_md mg_1">
        <a class="link" href="mailto:sakura.club.info@gmail.com">メールアドレス：sakura.club.info@gmail.com</a>
        <a class="link" href="tel:080-1099-5052">電話番号：080-1099-5052</a>
        <%= link_to "【　お問い合わせはこちらから　】", new_contact_path, class: "link" %>
      </div>
    </footer>
  <body>
</html>
